* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('images\pro.jpg') center/cover no-repeat;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
    z-index: 10;
    text-align: center;
    width: 100%;
}

header .logo img {
    max-height: 80px;
    filter: brightness(0) invert(1);
}

.logo {
    display: block;
    margin: 20px auto;
    max-width: 200px;
}

a {
    text-decoration: none;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(8px);
    z-index: -1;
}

.header-title {
    margin-top: 120px;
    text-align: center;
}

.header-title h1 {
    font-family: 'Karima For Personal Use Only';
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1px;
}

.header-title p {
    font-family: 'Karima For Personal Use Only';
    font-size: 1.5rem;
    color: white;
    letter-spacing: 0.3em;
    margin-bottom: 20px;
}

.header-title p2 {
    font-family: 'RIMONS';
    font-size: 1rem;
    color: white;
    letter-spacing: 0.1em;
}

.portfolio-buttons,
.topics {
    display: grid;
    gap: 20px;
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
}

.portfolio-button,
.topic-button {
    font-family: 'Karima For Personal Use Only';
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.portfolio-button:hover,
.topic-button:hover {
    background-color: #a0b959;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #474747;
}

.reso1 {
    width: 1080px;
    margin-left: 450px;
    margin-top: 450px;
}

.reso {
    width: 1080px;
    margin-left: 450px;
}

.contact-box {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 5px;
}

.contact-box a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.contact-box a:hover {
    color: #a0b959;
}

section[id^="portfolio-"] {
    display: none;
}

section:target {
    display: block;
}

@media (max-width: 768px) {

    .portfolio-buttons,
    .topics {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {

    .portfolio-buttons,
    .topics {
        grid-template-columns: 1fr;
    }
}